<h1>Pet Details</h1>
<p *ngIf="loading"><em>Loading...</em></p>
<label>Male Owner Pets</label>
<ul>
  <li *ngFor="let maleOwnerPet of maleOwnerPets">{{maleOwnerPet.petname}}</li>
</ul>
<label>Female Owner Pets</label>
<ul>
  <li *ngFor="let femaleOwnerPet of femaleOwnerPets">{{femaleOwnerPet.petname}}</li>
</ul>

